.calendar-whole {
  margin-top: 20px;
  width: 80%;
}

.calendar-whole * {
  border-style: dotted;
}

.blank-block {
  height: 1.3em;
}

.schedule-block {
  height: 3.5em;
  width: 110px;
}

table tr {
  display: table-cell;
}

table tr td {
  display: block;
}