.calendar-whole {
  margin-top: 20px;
  width: 80%;
}


.blank-block {
  height: 1.3em;
}


.schedule-block {
  height: 3.5em;
  width: 110px;
  border-style: dashed;
  border-width: thin;
  position: relative;
}

table tr {
  display: table-cell;
}

table tr td {
  display: block;
}

.schedule-block-continued {
  color: rgba(210, 210, 210, 0.5);
}

.delete-button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  font-style: bold;
  font-style: italic;
  color: rgba(86, 0, 184, 0.995)
}

.edit-button {
  position: absolute;
  bottom: 20%;
  right: 0;
  font-size: 0.7em;
  font-style: bold;
  font-style: italic;
  color: rgba(12, 4, 167, 0.995)
}