.calendar-whole {
  margin-top: 20px;
  width: 80%;
}


.blank-block {
  height: 1.3em;
}


.schedule-block {
  height: 3.5em;
  width: 110px;
  border-style: dashed;
  border-width: thin;
}

table tr {
  display: table-cell;
}

table tr td {
  display: block;
}