* {
  background-color: #006363;
  color: rgb(210, 210, 210);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
}

.selections-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80%;
}

.add-task {
width: 80%;
margin-top: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
}