* {
  background-color: #006363;
  color: rgb(210, 210, 210);
}

a, button {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}


button {
  width: 60px;
  margin: auto;
  margin-top: 10px;
}

::placeholder {
  color: rgb(210, 210, 210);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 20px;
}

.selections-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: 3px;
}

.add-task {
  width: 80%;
  margin-top: 30px;
}

.new-text-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-task-form {
  border-style: dashed;
  border-color: rgb(210, 210, 210);
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(255, 153, 0);

  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 15px;
  width: 300px;
}


.new-task-form * {
  margin-top: 10px;
  border-style: dashed;
  border-color: rgb(210, 210, 210);
  border-width: 1px;
  border-radius: 5px;
}

.new-task-form label {
  border-style: none;
}

.new-task-form button {
  border-color: rgb(255, 153, 0);
}

.error {
  color: rgb(77, 35, 97);
  font-style: italic;
  font-weight: bold;
  border: none;
  margin: none;
}

.conflict-actions {
  position: absolute;
  top: 12%;
  right: 30%;
}

.conflict-resolution {
  margin-top: 15px;
  border-style: dashed;
  border-color: rgb(148, 179, 255);
  border-width: 1px;
  border-radius: 5px;

  padding: 10px;
}

.conflict-resolution-button-container {
  display: flex;
  justify-content: space-evenly;
}

.conflict-resolution-button {
  border-color: rgb(158, 9, 181);
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;

  cursor: pointer;
  font-style: bold;
  padding: 2px;
  margin: 7px;
  font: 13.3333px Arial;
  font-weight: bold;
}